# Node.js backend
/backend/node_modules
/backend/dist
/backend/.env
/backend/.vscode/

# Next.js frontend
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/.env.local
/frontend/.vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/.pnp
/frontend/.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/frontend/coverage



# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts


# System files
.DS_Store
.env
Thumbs.db